@import "tailwindcss";

@theme {
  --color-background: #f9fafb; /* gray-50 */
  --color-foreground: #111827; /* gray-900 */
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  -webkit-font-smoothing: antialiased;
}